[flake8]
max-line-length = 99
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    env,
    .env,
    build,
    dist,
    migrations,
    */migrations/*,
    courier/admin.py,
    courier/models.py,
    courier/tests.py,
    homepage/admin.py,
    homepage/models.py,
    homepage/tests.py,
    order/admin.py,
    order/models.py,
    order/tests.py
